/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  padding: 1rem;
  text-decoration: none;
  color: rgb(30, 30, 30);
}
a:hover {
  color: rgb(255, 0, 0);
  background-color: rgb(24, 0, 131);
}

.to-top {
  position: fixed;
  padding: 1rem;
  right: 1rem;
  bottom: 1rem;
  background-color: rgb(169, 182, 51);
  border-radius: 5px;
}
.to-top:hover {
  background-color: rgb(248, 0, 0);
}

header {
  padding: 1rem;
  align-items: center;
}
header #sidebar-active {
  display: none;
}
header #sidebar-active:checked ~ #overlay {
  background-color: rgba(82, 82, 82, 0.1);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
@media (max-width: 767px) {
  header {
    font-size: 16px;
    background-color: rgb(200, 0, 0);
  }
  header #sidebar-active:checked ~ .links-container {
    background-color: bisque;
    right: 0;
  }
  header .links-container {
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: 0.1s ease-out;
  }
  header .links-container .sidebar-links,
  header .links-container .back-link {
    padding: 1rem;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    font-size: 18px;
    background-color: rgb(0, 200, 0);
  }
  header .navbar-menu {
    display: none;
  }
  header .back-link {
    display: none;
  }
}
@media (min-width: 1024px) {
  header {
    font-size: 20px;
    background-color: rgb(0, 0, 200);
  }
  header .navbar-menu {
    display: none;
  }
  header .back-link {
    display: none;
  }
}

.carousel {
  position: relative;
}
.carousel .carousel-indicators {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  translate: -50% -50%;
}
.carousel .carousel-indicators > a {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
}
.carousel .carousel-indicators > a:hover {
  background-color: rgb(10, 10, 10);
}
.carousel .carousel-inner {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  align-items: baseline;
}
.carousel .carousel-inner img {
  max-width: 100%;
  height: auto;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .carousel {
    font-size: 20px;
    background-color: rgb(0, 0, 200);
    margin: 0 auto;
    width: 1024px;
  }
}

.card-container {
  margin: 1rem auto;
  max-width: 1024px;
  display: flex;
}
.card-container .card {
  background-color: rgb(161, 255, 255);
  border-radius: 1rem;
  text-align: center;
  margin: 10px 10px;
}
.card-container .card img {
  border-radius: 1rem 1rem 0rem 0rem;
  max-width: 100%;
}
.card-container .card .card-body h5 {
  font-size: 2rem;
  padding: 1rem;
}
.card-container .card .card-body p,
.card-container .card .card-body button {
  font-size: 1.5rem;
  padding: 1rem;
}
.card-container .card .card-body button {
  border-radius: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .card-container {
    font-size: 16px;
    background-color: rgb(200, 0, 0);
    flex-wrap: wrap;
  }
  .card-container .card {
    max-width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    font-size: 18px;
    background-color: rgb(0, 200, 0);
  }
  .card-container .card {
    max-width: 33%;
  }
}
@media (min-width: 1024px) {
  .card-container {
    font-size: 20px;
    background-color: rgb(0, 0, 200);
  }
  .card-container .card {
    max-width: 33%;
  }
}

footer {
  padding: 1rem;
}

.h1-hide {
  width: 1px;
  height: 0px;
  overflow: hidden;
  position: absolute;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}/*# sourceMappingURL=main.css.map */